<footer class="bg-background-alt text-black py-8 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center justify-center">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-16 text-center px-4 sm:px-6 lg:px-8">
        <!-- Columna 1: Logo y eslogan -->
        <div class=" md:mb-0 flex flex-col items-center justify-center gap-7">
          <img src="images/logoFooter.svg" alt="Logo" class="h-12 sm:h-14 md:h-20 lg:h-24">
          <p class="text-secondary-text font-poppins text-xl sm:text-lg md:text-2xl">{{ slogan }}</p>
        </div>
        
        <!-- Columna 2: Enlaces útiles -->
        <div class="">
          <h3 class="text-xl font-bold mb-4">Enlaces útiles</h3>
          <ul class="space-y-2">
            <li *ngFor="let link of usefulLinks">
              <a [href]="link.url" 
                 class="text-secondary-text hover:text-secondary hover:font-bold transition-colors duration-300">
                {{ link.name }}
              </a>
            </li>
          </ul>
        </div>
        
        <!-- Columna 3: Contacto -->
        <div class="">
          <h3 class="text-xl font-bold mb-4">Contacto</h3>
          <a href="mailto:{{ email }}" 
             class="text-secondary-text hover:text-white transition-colors duration-300 block mb-4">
            {{ email }}
          </a>
          
          <div class="flex space-x-4 justify-center items-center">
            <a *ngFor="let social of socialLinks" 
                [href]="social.url" 
                class="h-6 w-6 hover:scale-110 transition-transform duration-300 hover:rotate-30"
                [title]="social.name">
                <img [src]="social.icon" [alt]="social.name + ' logo'" class="h-full w-full object-contain">
            </a>
          </div>
        </div>
      </div>
      
      <!-- Copyright -->
      <div class="border-t border-gray-700 mt-8 pt-8 text-center text-secondary-text w-full">
        <p>&copy; {{ currentYear }} Findee. Todos los derechos reservados</p>
      </div>
    </div>
  </footer>