<!-- Componente para la creacion del header el cual si se ha iniciado sesión aparecera un navbar con 
 los enlaces de buscar empleo y mis recomendaciones y el nombre de usuario
 y si no se ha iniciado sesión aparecera un boton para acceder -->
 <header class="py-3 px-4 md:px-8 bg-white mx-auto flex justify-between items-center">
    <div>
      <!-- Logo más grande pero responsivo -->
      <img src="images/logo.svg" alt="Findee Logo" class="h-12 sm:h-14 md:h-20 lg:h-24">
    </div>
    <button class="bg-primary text-base sm:text-xl md:text-2xl lg:text-3xl text-white px-5 py-2.5 rounded-md hover:bg-secondary transition-all duration-300 transform hover:scale-105 hover:shadow-lg cursor-pointer font-roboto font-bold">
      Acceder
    </button>
  </header>
  
  <!-- Borde inferior degradado -->
  <div class="h-2 w-full bg-gradient-to-b from-primary to-white"></div>
  
