<div class="fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center bg-[rgba(0,0,0,0.7)] z-1000" (click)="cerrarPopUp.emit()">
  <div class="bg-white p-8 rounded-lg w-4/5 max-w-3xl max-h-[90vh] overflow-y-auto relative" (click)="$event.stopPropagation()">
    <button class="absolute top-4 right-4 bg-none border-none text-2xl cursor-pointer hover:text-secondary" (click)="cerrarPopUp.emit()">&times;</button>
    
    <h2 class="font-roboto text-2xl font-bold ">{{empleo.title}}</h2>
    <p class="font-roboto text-xl font-bold text-secondary">{{empleo.companyName}}</p>

    <div class="mt-4">
      <p class="text-secondary-text font-poppins">{{ getDisplayCity(empleo.city) }} | {{ getDisplayRemote(empleo.remote) }}</p>
      <div class="my-6">
        <h3 class="text-lg font-bold font-poppins">Acerca del empleo</h3>
        <p class="text-black font-poppins mt-2 whitespace-pre-line text-justify">{{empleo.description}}</p>
      </div>
    </div>
    <div class="mt-4 pt-4">
      <div class="flex flex-wrap gap-2 text-sm justify-end">
        <span class="bg-blue-100 text-blue-800 px-2 py-1 rounded">{{ getDisplayContractType(empleo.contractType) }}</span>
        <span class="bg-green-100 text-green-800 px-2 py-1 rounded">{{ getDisplayWorkday(empleo.workday) }}</span>
        <span class="bg-purple-100 text-purple-800 px-2 py-1 rounded">{{getDisplaySalary(empleo.salaryMin, empleo.salaryMax)}}</span>
      </div>
    </div>

    <div class="flex justify-around mt-10">
      <button class="py-3 px-6 border-none rounded-md cursor-pointer font-roboto font-bold bg-background-alt text-black hover:bg-gray-100" (click)="toggleFavorito.emit()">
        {{esFavorito ? 'Quitar de favoritos' : 'Guardar en favoritos'}}
      </button>
      <button class="bg-primary text-white font-roboto font-bold py-3 px-6 border-none rounded-md cursor-pointer hover:bg-secondary" (click)="onAplicar()">
        Aplicar
      </button>
    </div>
  </div>
</div>
