<section class="py-4 px-4">
    <div class="container mx-auto">
      <h2 class="text-3xl md:text-4xl lg:text-7xl font-bold mb-12 text-secondary font-roboto">
        ¿Cómo funciona?
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-14 px-8">
        <app-card [card] = "cards[0]"></app-card>
        <app-card [card] = "cards[1]"></app-card>
        <app-card [card] = "cards[2]"></app-card>
        <app-card [card] = "cards[3]"></app-card>
      </div>
    </div>
  </section>
