<div class="min-h-screen bg-background-alt-2 flex flex-col justify-center py-12 sm:px-6 lg:px-8 ">
  
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      
      <div class="bg-white py-8 px-4 shadow-2xl sm:rounded-lg sm:px-10 shadow-sombra relative">
        <!-- Flecha de regreso (nuevo elemento) -->
        <button 
            routerLink="/"
            class="absolute top-2 right-2 p-2 rounded-full hover:bg-gray-100 transition-colors duration-300 cursor-pointer"
            aria-label="Volver al inicio"
          >
            <img src="/icons/return.svg" alt="Volver" class="h-6 w-6"> 
          </button>
        
        <div class="sm:mx-auto sm:w-full sm:max-w-md mb-4 ">
          
          
        <!-- Logo -->
          <div class="flex justify-center mb-4">
            <img src="/images/logoFooter.svg" alt="Findee Logo" class="h-16 sm:h-20 w-auto">
          </div>
          <h3 class="mt-2 text-center text-xl lg:text-4xl font-semibold text-black font-roboto">
            Iniciar sesión
          </h3>
        </div>
        <form class="space-y-6" (ngSubmit)="onSubmit()">
          <!-- Email -->
          <div>
            <div class="flex items-center border border-gray-300 rounded-md px-3 w-full max-w-md">
              <img src="/icons/mailColor.svg" alt="Correo" class="mr-2">
              <input 
              id="email" 
              name="email" 
              type="email" 
              placeholder="Correo"
              [(ngModel)]="email"
              required 
              class="appearance-none block w-full px-3 py-2  placeholder-secondary-text focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-xl lg:text-2xl font-poppins text-black">
            </div>
          </div>
  
          <!-- Password -->
          <div>
            <div class="flex items-center border border-gray-300 rounded-md px-3 w-full max-w-md">
              <img src="/icons/password.svg" alt="Correo" class="mr-2">
              <input 
                id="password" 
                name="password" 
                type="password"
                placeholder="Contraseña" 
                [(ngModel)]="password"
                required 
                class="appearance-none block w-full px-3 py-2  placeholder-secondary-text focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-xl lg:text-2xl font-poppins text-black">            </div>
            
          </div>
          <!-- Error de inicio de sesión -->
           <div *ngIf="authState.error" class="text-red-500 text-sm text-center">
             {{authState.error}}

           </div>
          <!-- Remember me & Forgot password -->
          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input 
                id="remember-me" 
                name="remember-me" 
                type="checkbox" 
                [(ngModel)]="rememberMe"
                class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
              <label for="remember-me" class="ml-2 block text-sm text-secondary-text font-poppins lg:text-base">
                Recuérdame
              </label>
            </div>
  
            <div class="text-sm">
              <a href="#" class="font-medium text-tertiary hover:text-primary transition-all duration-300 font-poppins lg:text-base">
                ¿Olvidaste tu contraseña?
              </a>
            </div>
          </div>
  
          <!-- Submit button -->
          <div>
            <button 
              (click)="onSubmit()"
              type="submit" 
              class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-primary hover:bg-secondary transition-all duration-300 transform hover:scale-[1.01] lg:text-3xl font-roboto cursor-pointer">
              Iniciar sesión
            </button>
          </div>
        </form>
        
        <!-- Divider -->
        <div class="mt-6">
          <div class="relative">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center text-sm">
            </div>
          </div>
        <div class="mt-6">
            <div class="relative flex justify-center text-sm font-poppins lg:text-base">
              <span class="px-2 bg-white text-secondary-text">
                ¿No tienes cuenta?
              </span>
              <a routerLink="/registro" class="text-tertiary hover:text-primary transition-all duration-300">Regístrate</a>
            </div>
          </div>
        </div>
    </div>
  </div>